port:       6050
httpsport:    6051
httpspempath: runtime/comet.hunliji.com.pem
httpskeypath: runtime/comet.hunliji.com.key
loglevel:   5
logpath:    runtime/comet.log
logsql:     true
sqllogpath: runtime/sql.log

nat:
    host:     localhost
    port:     4222
    user:
    password:

db:
    host:     test2.hljnbw.cn
    port:     3306
    name:     wedding_stable
    user:     scuser
    password: fire_hunliji

weddb:
    host:     test2.hljnbw.cn
    port:     3306
    name:     wedding_stable
    user:     scuser
    password: fire_hunliji
